.table-header-emp{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.table-header-emp > i{
    transition: all 0.3s;
}

.error-message{
    margin-top: -10px;
    color: coral;
    font-size: 20px !important;
}

.error-message-alert{
    border-color: tomato !important;
    background-color: #fff5ee !important;
}

.error-message-alert > li {
    background-color: inherit !important;
    color: tomato;
}

.center-pag{
    margin-left: 50%;
    transform: translateX(-200px);
}

.modal-background{
    position: absolute;
    z-index: 2;
    background-color: rgba(189,214,223,0.43);
    width: 100vw;
    height: 100vh;
}

.modal-content{
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    width: 60vw;
    height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
}